<div class="container">
    <div class="title-container">
        <h1>{{ "Components.Dashboard.Title" | translate }}</h1>
    </div>

    <div class="materials-container">
        <h4>
            {{ "Components.Dashboard.SubTitle" | translate }}
            <i class="fas fa-credit-card"></i>
        </h4>

        <table class="depenses-array-container">
            <thead class="header">
                <tr>
                    <th>Matières</th>
                    <th>Coeff</th>
                    <th>Notes</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let material of materials">
                    <tr>
                        <td>{{ material.name }}</td>
                        <td>{{ material.coefficient }}</td>
                        <td>{{ material.note }}</td>
                        <td class="buttons-container">
                            <button class="update-button" onclick="openPopup()">Mettre à jour</button>
                            <button class="delete-button">Supprimer</button>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>

        <div class="average-container">
            <h3>Votre moyenne générale s'élève à : {{ studentAverage.toFixed(2) }}</h3>
        </div>
        <div class="addSubjectContainer">
            <table class="tableAddSubject">
                <thead class="header">
                <tr>
                    <th>Ajout d'une matière</th>
                    
                </tr>
                </thead>
            </table>

            <button class="add-button" onclick="">Ajouter une matière</button>
        </div>
    </div>
</div>