.container {
    font-family: monospace;

    .title-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 35px;
            color: var(--white);
        }
    }

    .materials-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h4 {
            color: var(--white);
            font-size: 25px;
        }

        table {
            border-collapse: collapse;
            width: 80%;
        }
        
        .header {
            background-color: var(--caramel-pastel);
        }
          
        td, th {
            border: 1px solid #dddddd;
            text-align: center;
            font-size: x-large;
            padding: 8px;
        }

        td {
            color: var(--white);
        }

        .buttons-container {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
        
        .delete-button {
            border: none; 
            background-color: #F79196; 
            padding: 10px; 
            border-radius: 2px;
            color: var(--white);
            font-weight: 700;
            cursor: pointer;
        }
        
        .delete-button:hover {
            opacity: 0.4;
        }
        
        .update-button {
            border: none; 
            background-color: #B3E1CE; 
            padding: 10px; 
            border-radius: 2px;
            color: #000000;
            font-weight: 700;
            cursor: pointer;
        }

        .update-button:hover {
            opacity: 0.4;
        }

        .average-container {

            h3 {
                font-size: 20px;
                color: var(--white);
            }
        }
    }
}