@import url("./theme/variables.scss");

*, *:before, *:after { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
}

body {
    margin: 0;
    padding: 0;
    font-family: monospace, sans-serif;
    background-color: var(--dark-body-color);
}


mat-dialog-container {
    background-color: var(--dark-body-color) !important;
}

body::-webkit-scrollbar {
    display: none;
}

html, body { height: 100%; }